@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --background-white: 0, 0%, 100%;

    --background-dashboard: 272, 100%, 98%;

    --border-extra-light: 0, 0%, 93%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --primary: 23, 100%, 50%;

    --primary-light: 19, 100%, 97%;

    --primary-hover: 17, 99%, 45%;

    --primary-foreground: 0 0% 98%;

    --placeholder: 210, 11%, 71%;

    --secondary: 275, 80%, 40%;

    --secondary-foreground: 0 0% 9%;

    --success: 120, 67%, 45%;

    --success-hover: 120, 100%, 40%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --primary-font: var(--font-primary), sans-serif;

    --secondary-font: var(--font-primary), sans-serif;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --muted: 0, 0%, 69%;

    --muted-light: 0, 0%, 80%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
html {
  font-size: 16px !important;
}
body {
  font-size: 1rem;
  background-color: hsl(var(--background-dashboard));
}
::-webkit-scrollbar {
  -webkit-appearance: none !important;
  display: none;
}

/*-----SOONER TOAST CSS------*/
.toast-sonner-position {
  top: 4rem !important;
}
.custom-toast button[data-close-button] {
  background-color: #22c55e !important;
  color: white !important;
  border: transparent !important;
}
.custom-toast {
  background: rgba(255, 255, 255, 0.9) !important;
  color: #22c55e !important;
  border: transparent !important;
  font-family: var(--font-secondary) !important;
  font-weight: 300 !important;
}

.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 40px;
  padding: 1px;
  background: linear-gradient(to bottom, #e06518, #e3802a);
  -webkit-mask: linear-gradient(#b73601 0 0) content-box,
    linear-gradient(#ff7700 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
.gradient-text {
  background: linear-gradient(to left, #b73601, #ff743c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(255, 101, 2, 1) 0%,
    rgba(183, 54, 1, 1) 100%
  );
}

.depot-marker-label {
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #6707c8;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0px, 40px);
  color: #6707c8 !important;
}

.map-label {
  background: #6707c8;
  border-radius: 100%;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  transform: translate(10px, -32px);
  color: #ffffff !important;
}

.text-gradient-vertical {
  background: linear-gradient(to bottom, #cf5406, #ff811a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* PRODUCT CARD CSS */

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-out forwards;
  }

  .animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TIPTAP CSS */
.text-editor ol {
  padding-left: 2ch;
  list-style-position: outside;
  overflow: visible;
}
.tiptap ol {
  counter-reset: list-counter;
  padding-left: 0;
  list-style: none;
}

.tiptap ol li {
  display: flex;
  align-items: flex-start;
}

.tiptap ol li::before {
  counter-increment: list-counter;
  content: counter(list-counter) ".";
  margin-right: 0.5ch; /* small space between number and text */
  min-width: 2ch; /* small number width */
  text-align: right;
}

/*----DASHBOARD SIDEBAR CSS------*/
.scroll-bar {
  overflow: auto;
  transition: all 1s ease-out;
}

.scroll-bar::-webkit-scrollbar {
  -webkit-appearance: none;
  display: block;
  width: 4px;
  height: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: lightgray;
  box-shadow: 0 0 1px rgba(235, 235, 235, 0.1);
  visibility: hidden;
}
.scroll-bar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
.scroll-bar::-webkit-scrollbar-track {
  margin: 10px 10px 10px 100px;
}

/* PHONE NUMBER INPUT CSS */
.react-tel-input .country-list {
  /* position: fixed !important;
  height: 60% !important; */
}
.react-tel-input {
  width: auto !important;
  font-family: var(--font-secondary) !important;
  font-weight: 300 !important;
}
.react-tel-input input {
  width: 85px !important;
}
.react-tel-input .countryCode {
  pointer-events: none !important;
  background-color: transparent !important;
}

.react-tel-input .form-control {
  padding-left: 32px !important;
  /* z-index: 12 !important; */
  font-weight: 500 !important;
}
.react-tel-input .country-list .search {
  z-index: 20 !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 12px !important;
}

.react-tel-input .country-list .search-box {
  width: 100% !important;
  font-size: 14px !important;
  font-family: var(--font-secondary);
  font-weight: 400 !important;
  border-radius: 8px !important;
  text-transform: capitalize;
  padding: 10px 12px !important;
}

.search-emoji {
  display: none !important;
}

.react-tel-input .country-list > input {
  width: auto !important;
  cursor: text !important;
}
.react-tel-input .country-list {
  font-size: 13px !important;
  font-weight: 500 !important;
  margin-left: -5px !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent !important;
  border: 0px solid #cacaca !important;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .flag {
  /* z-index: 12 !important; */
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent !important;
  border-radius: 3px 0 0 0;
}

.react-tel-input .selected-flag .arrow {
  border: none !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M18 9s-4.419 6-6 6s-6-6-6-6' color='currentColor'/%3E%3C/svg%3E");
  width: 20px !important;
  height: 20px !important;
  top: -20% !important;
  left: 56px !important;
}

.react-tel-input .selected-flag {
  width: 85px !important;
}

.react-tel-input .flag-dropdown.open {
  z-index: unset !important;
}
.react-tel-input .country-list .search-box {
  margin-left: 0 !important;
}

.text-editor ol {
  padding-left: 2ch;
  list-style-position: outside;
  overflow: visible;
}
